{%extends "layout.html"%}
{% block title %}StockSim | About{% endblock %}
{%block content%}
<div class="row content">
    <div id="about">
      <h1> About </h1>

      <h2>Stocksim</h2>
      <body>
      <p>Stocksim is an online stock simulation program that aims to help people learn how to invest their money, understand the stock market, and gain confidence to make their first real investment. Users can learn and experiment with trading by managing a portfolio of stocks you choose to purchase themselves.
      </p>
      <p>Learning and experimenting with trading is much less stressful. Stocksim uses virtual currency while incorporating real time stock data, so that you get a sense of how trading feels without the financial risk.</p>




      <h3> Resources<h3>
      <br></br>
      <h4>Yahoo! Finance API</h4>
      <p>A module that returns stock data from Yahoo! Finance.
      Developed by <a href="https://github.com/lukaszbanasiak/yahoo-finance">Lukasz Banasiak</a>.</p>
      <a href="https://pypi.python.org/pypi/yahoo-finance">Yahoo! Finance</a>
      <br></br>
      <p>Stockisim is developed by TEAM-PEERLESS</p>
      </body>
    </div>
</div>
{%endblock%}
