{%extends "layout.html"%}
{% block title %}StockSim | Contact{% endblock %}
{% block head %}
<style>
#gmap_canvas {
  margin-top: 15px;
}
</style>
{% endblock %}
{%block content%}
<div class="row content">
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 contact">
      <h1 class="page-header">Contact Us</h1>
      <h3 class="sub-header">StockSim</h3>
      <div class="col-sm-6 col-md-3">
      <p>If you have any questions or comments, send us a message at <a href="stocksimonline@gmail.com">StocksimOnline@gmail.com</a></p>
      <br></br>
      <p>Follow us on <a href="https://twitter.com/StocksimOnline">twitter!</a></p>
      <br></br>
      <p>420 Beech Street<br>
        Ames, Iowa 50010
      </p>
      <p>Phone: 999-999-9999</p>
      </div>
      <div class="col-sm-6 col-md-9" style='overflow:hidden;height:auto;width:auto;'>
        <div id='gmap_canvas' style='height:650px;width:auto;'></div>
      </div>
  </div>
</div>
{%endblock%}
{%block scripts%}
<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
<script type='text/javascript'>function init_map(){var myOptions = {zoom:6,center:new google.maps.LatLng(42.0307812,-93.63191310000002),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(42.0307812,-93.63191310000002)});infowindow = new google.maps.InfoWindow({content:'<strong>StockSim</strong><br>Ames, Iowa<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
{%endblock%}
