{%extends "layout.html"%}
{% block title %}StockSim | Help{% endblock %}
{%block content%}
<div class="row content">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 help">
        <h1 class="page-header">Help</h1>
        <body>
        <h2> Resources </h2>
        <p>Learning about financial planning and investing can help you set your financial goals, which can affect the way you invest. </p>
        <p>Listed below are links to financial literacy resources approved by <a href="occ.gov">Office of the Comptroller of the Currency</a>.
        <ul>
          <li><a href="http://www.nasdaq.com/investing/getting-started-in-stocks.aspx">Nasdaq</a></li>
        <li><a href="http://www.360financialliteracy.org/">360 Degrees of Financial Literacy</a></li>
        <li><a href="https://www.edutopia.org/stw-financial-literacy-infographic">Edutopia Infographic</a></li>
        <li><a href="http://www.nea.org/tools/lessons/resources-for-teaching-financial-literacy.html">NEA Fianancial Literacy Resources</a></li>
        </ul>
        <iframe src="https://quizlet.com/158749504/flashcards/embed" height="500" width="100%" style="border:0"></iframe>

        </body>

    </div>
<div>
{%endblock%}
