{% extends "layout.html" %}
{% block title %}StockSim | Login{% endblock %}
{% block head %}
<style>
<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        width: 90%;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
</style>
{% endblock %}
{%block content%}
<div class="row content">
  <div id="login">
    <form class="form-signin" method="POST" action="/login">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input name="username" class="form-control input" type="text" placeholder="Username"  autofocus>
      <input type="password" class="form-control input" name="password" placeholder="Password" >
      <button class="submit-button btn btn-lg btn-primary btn-block" type="submit" value ="login" name="signup">Sign in</button>
      <button class="submit-button btn btn-lg btn-primary btn-block" type="submit" value ="SignUp" name="signup">Sign up</button>
    </form>
  </div>
</div>
{% endblock %}
